@import play.twirl.api.HtmlFormat

@(title: String = "", scripts: Html = HtmlFormat.empty, stylesheets: Html =
HtmlFormat.empty)(content: Html)

@main.main(title, scripts, stylesheets) {
<!-- Page Wrapper -->
<div id="wrapper">
  @main.sidebar.sidebar()

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      @main.topbar()
      @main.logoutModal()

      <div class="container-fluid">
        @content
      </div>

      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
}
