@()

@import controllers.interaction.routes.{WidgetController, TodoController}

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Interaction
</div>

<!-- Nav Item - Charts -->
<li class="nav-item">
  <a class="nav-link" href="@WidgetController.listWidgets">
    <i class="fas fa-fw fa-laptop"></i>
    <span>Forms</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
  <a class="nav-link" href="@TodoController.index">
    <i class="fas fa-fw fa-envelope"></i>
    <span>Todos</span></a>
</li>
